body {
  background-color: #444;
  font-family: "Roboto", sans-serif;
  color: aliceblue;
}

main {
  margin: 50px auto;
  text-align: center;
  width: 400px;
}

.element-container {
  clear: both;
  padding-top: 10px;
}

.left {
  width: 30%;
  float: left;
  text-align: left;
}

.right {
  width: 70%;
  float: right;
}

.fullwidth {
  width: 100%;
}

.submit {
  background-color: coral;
  color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}
